/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.kv-store-json-editor-css .cm-scroller {
    flex-direction: unset;
}

.kv-store-json-editor-css .setting-item-control {
    text-align: unset;
    justify-content: unset;
}


.setting-item.kv-store-json-editor-css {
    display: unset;
}